@font-face {
    font-family: "VCR OSD Mono";
    src: url("VCR_OSD_MONO_1.001.ttf");
}

body {
    --var-background: #1c1b1a;
    --var-primary: #dbb986;
    --var-secondary: #ff523b;

    background: var(--var-background);
    color: var(--var-primary);
    font-family: "VCR OSD Mono", monospace, sans-serif;
    transition: background-color 0.2s;
}

body.hard {
    --var-background: #151523;
    --var-primary: #9bd1ba;
    --var-secondary: #ffcb3b;
}

body.slow {
    --var-background: #000;
}

body.hit {
    background: #2b1616;
}

body.hard.hit {
    background: #271620;
}

canvas {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div.slowdown {
    position: fixed;
    left: 50%;
    top: 27px;
    transform: translate(-50%, 0%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.slowProgress {
    width: 300px;
    height: 4px;
    margin-bottom: 4px;
    border: 1px solid var(--var-primary);
}

div.slowProgress div {
    background: var(--var-secondary);
    height: 4px;
}

header {
    display: flex;
    justify-content: space-around;
    opacity: 0.5
}

header div {
    margin: 16px;
    text-transform: uppercase;
}
header div:last-child {
    text-align: right;
}

header div h1, header div h2 {
    margin: 0;
}

footer {
    position: fixed;
    width: 100%;
    left: 50%;
    bottom: 32px;
    transform: translate(-50%, 0%);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

footer div {
    text-align: center;
}

button {
    background: transparent;
    color: var(--var-primary);
    padding: 8px 16px;
    margin-bottom: 8px;
    font-family: "VCR OSD Mono", monospace, sans-serif;
    font-size: 16pt;
    text-transform: uppercase;
    border: none;
}

button.checked {
    background: var(--var-primary);
    color: var(--var-background);
}

a {
    color: var(--var-secondary);
    text-decoration: none;
}

a:hover {
    background: var(--var-secondary);
    color: var(--var-background);
}

body.slow button#initSlowDown {
    display: none;
}

@media screen and (max-width: 860px) {
    div.slowdown {
        top: 8px;
    }

    div.slowProgress {
       margin-right: 8px;
    }

    header div {
        margin-top: 64px;
        text-transform: uppercase;
    }

    button {
        font-size: 13pt;
    }
}