body {
    --var-background: #1c1b1a;
    --var-primary: #dbb986;
    --var-secondary: #ff523b;

    --var-font: "Lexend Deca", "Segoe UI", sans-serif;

    background: var(--var-background);
    color: var(--var-primary);
    font-family: var(--var-font);
    transition: background-color 0.2s;
}

body.hard {
    --var-background: #151523;
    --var-primary: #9bd1ba;
    --var-secondary: #ffcb3b;
}

body.hell {
    --var-background: #780000;
    --var-primary: #000000;
    --var-secondary: #ffa600;
}

body.hell div.slowdown {
    display: none;
}

body.slow {
    --var-background: #000;
}

body.hit {
    background: #2b1616;
}

body.hard.hit {
    background: #271620;
}

body.hell.hit {
    background: #a0230e;
}

canvas {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

div.slowdown {
    position: fixed;
    left: 50%;
    top: 27px;
    transform: translate(-50%, 0%);
    display: flex;
    align-items: center;
    flex-direction: column;
}

div.slowProgress {
    width: 300px;
    height: 4px;
    margin-bottom: 4px;
    border: 1px solid var(--var-primary);
}

div.slowProgress div {
    background: var(--var-secondary);
    height: 4px;
}

header {
    display: flex;
    justify-content: space-around;
}

header div {
    margin: 16px;
    text-transform: uppercase;
}
header div:last-child {
    text-align: right;
}

header div h1, header div h2 {
    margin: 0;
}

span#recordRank {
    color: var(--var-secondary);
}

header div h2 {
    opacity: 0.5;
}

footer {
    position: fixed;
    width: 100%;
    left: 50%;
    bottom: 32px;
    transform: translate(-50%, 0%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

footer div {
    text-align: center;
}

footer h1 {
    margin: 0px 16px;
    font-size: 14pt;
    font-weight: 400;
    display: inline-block;
}

footer button {
    font-size: 13pt;
    margin-bottom: 0px;
}

footer a {
    margin-left: 8px;
}

footer svg {
    width: 48px;
    height: auto;
    fill: var(--var-primary);
    margin: 4px 8px;
    opacity: 0.4;
}

footer a:hover svg {
    fill: var(--var-background);
    opacity: 1;
}

button {
    background: transparent;
    color: var(--var-primary);
    padding: 8px 16px;
    margin-bottom: 8px;
    font-family: var(--var-font);
    font-size: 16pt;
    text-transform: uppercase;
    border: none;
}

button:hover {
    background: var(--var-secondary);
    color: var(--var-background);
}

button.checked {
    background: var(--var-primary);
    color: var(--var-background);
}

a {
    color: var(--var-secondary);
    text-decoration: none;
}

a:hover {
    background: var(--var-secondary);
    color: var(--var-background);
}

body.slow button#initSlowDown {
    display: none;
}

@media screen and (max-width: 860px) {
    div.slowdown {
        top: 8px;
    }

    div.slowProgress {
       margin-right: 8px;
    }

    header div {
        margin-top: 64px;
        text-transform: uppercase;
    }

    body.hell header div {
        margin-top: 0px;
    }

    button {
        font-size: 13pt;
    }

    article header div {
        margin-top: 8px;
    }
}
